.address{
    font-family: 'Righteous', cursive;
}

.box-1{
    height: 300px;
}

.w3-card{
    font-size: 1.5em;
}

.big-heading {
    font-family: 'Viga', sans-serif;
    font-size: 6em;
}

.last-heading{
    font-weight:bold;
    font-size: 3em;
}

.center-container{
    padding-left: 70px;
    padding-right: 70px;
    background-color:
}

.w3-theme-l4 {
    color:#000 !important;
    background-color:#d5e1f0 !important
}

.w3-theme-l5 {
    color:#000 !important;
    background-color:#f7f9fc !important
}

.w3-theme-d2 {
    color:#fff !important;
    background-color:#305684 !important
}

p{
    font-family: "Arial", Veranda, serif;
    font-weight:bold;
}

h2{
    font-weight: bold;
}

footer{
    font-size: 1.25em;
}

#footer-text{
    padding-left: 70px;
}

