.address{
    font-family: 'Righteous', cursive;
}

.w3-card{
    font-size: 1.5em;
    width: 95%;
}

.big-heading {
    font-family: 'Viga', sans-serif;
    font-size: 6em;
}

.last-heading{
    font-weight:bold;
    font-size: 3em;
}
/**
.center-container{
    padding-left: 70px;
    padding-right: 70px;
    background-color:
}  **/

.w3-theme-l4 {
    color:#000 !important;
    background-color:#d5e1f0 !important
}

.w3-theme-l5 {
    color:#000 !important;
    background-color:#f7f9fc !important
}

.w3-theme-d2 {
    color:#fff !important;
    background-color:#305684 !important
}

#service-text{
    font-size:180%;
}

#phone-text{
    color:blue;
    font-size:300%;
}

p{
    font-family: "Arial", Veranda, serif;
    font-weight:bold;
}

h2{
    font-weight: bold;
}

footer{
    font-size: 1.25em;
}

form{
    margin-right: auto;
    width: 700px;
}

.form-header{
    margin-right: auto;
    width: 700px;
}

.footer-pad{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.container-width{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/**
.container-pad{
    margin-top: 70px;
    margin-bottom: 70px;
}

.area-list{
    margin-top: -15px;
}

.right-margin{
    margin-right: 30px;
}  **/
